footer {
  border-top: 0.5px solid #e5c39e;
  padding-top: 5px;
  background-color: #c9a074;
  width: 100%;
}

.footer-items {
  display: flex;
  justify-content: space-around;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-item > a {
  text-decoration: none;
  color: #fff;
}

.footer-item > h4 {
  color: #fff;
  font-weight: bolder;
}

.footer-item > a:hover {
  color: #000;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.footer-info > a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.footer-info > a:hover {
  color: #000;
  cursor: pointer;
}

/*  MOBILE STYLING */

@media (max-width: 768px) {
  footer {
    border-top: 0.5px solid #e5c39e;
    padding-top: 30px;
    /*background-color: #c9a074;*/
    background-color: #c9a074;
  }

  .footer-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-item {
    display: none;
    flex-direction: column;
  }

  .footer-item > a {
    text-decoration: none;
    color: #fff;
  }

  .footer-item > h4 {
    color: #fff;
    font-weight: bolder;
  }

  .footer-item > a:hover {
    color: #000;
    cursor: pointer;
  }

  .footer-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }

  .footer-info > a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }

  .footer-info > a:hover {
    color: #000;
    cursor: pointer;
  }
}

footer {
  border-top: 0.5px solid #e5c39e;
  padding-top: 30px;
  /*background-color: #c9a074;*/
  background-color: #c9a074;
}

.footer-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-item {
  /* display: flex; */
  display: none;
  flex-direction: column;
}

.footer-item > a {
  text-decoration: none;
  color: #fff;
}

.footer-item > h4 {
  color: #fff;
  font-weight: bolder;
}

.footer-item > a:hover {
  color: #000;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0px;
}

.footer-info > a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.footer-info > a:hover {
  color: #000;
  cursor: pointer;
}
