.nopage-section {
  display: flex;
  flex-direction: row;
  padding: 20px 50px 20px 50px;
  background-color: #fff;
}

.nopage-left {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  margin-right: 70px;
}

.nopage-left > h1 {
  color: #ff0000;
  font-weight: 900;
  padding: 0px;
  margin-top: 30px;
}

.spacing {
  margin: 140px !important;
}

/*  MOBILE STYLING */
@media (max-width: 768px) {
  .nopage-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
  }

  .nopage-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100% !important;
    margin-right: 0px !important;
  }
}
